# API to make predictions ----------------------------------
DEFAULT_PREDICTION_API=PROBABILITY_GEMINI
LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta
LLM_API_KEY=api_key_no_brackets_nor_quotes
LLM_MODEL=gemini-2.0-flash
# ----------------------------------------------------------

# Probability range ----------------------------------------
LOWER_PROB=30.0
UPPER_PROB=70.0
# ----------------------------------------------------------