# API to make predictions ----------------------------------
# !!!
# ABSOLUTELY MUST BE CHANGED IN ORDER FOR THE SOFTWARE TO RUN CORRECTLY WITH GROQ AS PREDICTIONS' API
# !!!
LLM_API_KEY=api_key_no_brackets_nor_quotes
# ----------------------------------------------------------

# API to make predictions ----------------------------------
DEFAULT_PREDICTION_API=PROBABILITY_LLM
LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta
LLM_MODEL=gemini-2.0-flash
# ----------------------------------------------------------