# API of exchanges to trade --------------------------------
# !!!
# ABSOLUTELY MUST BE CHANGED IN ORDER FOR THE SOFTWARE TO RUN CORRECTLY
# !!!
EXCHANGE_API_KEY=api_key_no_brackets_nor_quotes
EXCHANGE_SECRET=secret_no_brackets_nor_quotes
EXCHANGE_PASSPHRASE=passphrase_or_password_depending_on_exchange_no_brackets_nor_quotes
# ----------------------------------------------------------

# Project config -------------------------------------------
# !!!
# SOFTWARE WILL RUN EVEN WITHOUT CHANGING THESE PARAMETERS IF API CREDENTIALS ARE FOR KUCOIN
# !!!
# Risk-averse rate (to calculate amount for trades) in [0.0, ..., 1.0]
# Keep 0.5 for universal distrust (i.e., use 50% of free token balance to make a single order)
ALGORITHM_TRUST_PERCENTAGE=0.5

# Sleep time in seconds between program cycles
BASE_SLEEP_TIME=61

# Integer value (how many cycles to wait before cancelling all open orders)
CANCEL_ORDER_LIMIT=3

# Integer value (how many times to retry without sleeping)
RETRIES_BEFORE_SLEEP_LIMIT=4

# Set data vector length (i.e., number of times a price-data point appears)
DATA_VECTOR_LENGTH=30

# Exchange to use (only ccxt supported exchanges available)
DEFAULT_EXCHANGE_NAME=kucoin

# Fee of exchange (in price fraction, NOT percentage)
DEFAULT_EXCHANGE_FEE=0.001

# Set the premium for SELL orders / discount for BUY orders (same measurement unit as DEFAULT_EXCHANGE_FEE, they will be added together)
PREMIUM_OVER_EXCHANGE_FEES=0.00

# Set known minimum trading amount for current trading pair (in base currency)
MIN_TRANSACTION_VALUE_IN_BASE=0.01

# Data timeframe (e.g., 1 minute candles – 1m. Not every chosen exchange supports a particular timeframe)
TIMEFRAME=1m

# Set trading pair (e.g., XMR/USDT, order is IMPORTANT, reversed order might not exist on exchange)
TRADING_PAIR=XMR/USDT
# ----------------------------------------------------------
