# KEEP –––––––––––––––––––––––––––––––––––––––
DEFAULT_PREDICTION_API=PANDAS
# ––––––––––––––––––––––––––––––––––––––––––––

# SUBJECT TO ALTERATIONS –––––––––––––––––––––
PREDICTION_OPERATIONAL_PRICE_TYPE=close_3_ema
PREDICTION_INDICATORS_JSON=["close_5,15_kama"]
PREDICTION_GLOBAL_SIGNAL_LAG=1
# ––––––––––––––––––––––––––––––––––––––––––––