# API to make predictions ----------------------------------
# !!!
# ABSOLUTELY MUST BE CHANGED IN ORDER FOR THE SOFTWARE TO RUN CORRECTLY WITH GROQ AS PREDICTIONS' API
# !!!
GROQ_API_KEY=api_key_no_brackets_nor_quotes
# ----------------------------------------------------------

# CAN BE KEPT AS IS ----------------------------------------
GROQ_MODEL=llama-3.1-8b-instant

# Probability range (real number from 0.0 to 100.0, LOWER always <= UPPER)
LOWER_PROB=20.0
UPPER_PROB=80.0
# ----------------------------------------------------------

# MUST BE KEPT AS IS ----------------------------------------
DEFAULT_PREDICTION_API=PROBABILITY_GROQ
# ----------------------------------------------------------